body
{
    padding: 0;
    margin: 0;
    background-color:green;
}
h1{
font-size: 6rem;
color: rgb(21, 197, 197);
text-align: center;
}
.player1{
    margin-left: 40%;
}
.player2{
    margin-left:5%;
}
span{
    font-size: 2rem;
    color: rgb(21, 197, 197);
}
div{
    padding:30px;
    text-align: center;
}
img{
    padding:15px;
}
h3{
    text-align: center;
    color: rgb(21, 197, 197);
}
button{
    color: rgb(21, 197, 197);
    background-color:black;
    margin-left: 46%;
    height: 40px;
    width: 150px;
    font-size: 24px;
}

